<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bbcustomfunc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c46a9435-c957-4e6c-a0f4-b9a597984773/resourcegroups/openhack/providers/Microsoft.Web/sites/bbcustomfunc</ResourceId>
    <UserName>$bbcustomfunc</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://bbcustomfunc.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>